{% extends "loginform_HO_Viray.html" %}
{% block title %}Success{% endblock %}

{% block content %}
    {% if value==1 %}
        <section class="hero is-info">
            <div class="hero-body field">
                <h1 class="has-text-centered title">WELCOME!</h1>
            </div>
        </section><br>
        <form action="/loginForm" method="GET">
            <div class="control has-text-centered">  
                <button class="button is-light">LOGOUT</button>
            </div>
        </form>
    {% endif %}
{% endblock %}