{% extends "loginform_HO_Viray.html" %}
{% block title %}Success{% endblock %}

{% block content %}
    {% if value==1 %}
        <section class="hero is-info">
            <div class="hero-body">
                <h1 class="has-text-centered title">WELCOME!</h1>
            </div>
        </section>
    {% elif value==2 %}
        <section class="hero is-danger">
            <div class="hero-body">
                <h1 class="has-text-centered title">TRY AGAIN</h1>
            </div>
        </section>
    {% endif %}
{% endblock %}